body{
  margin: 0;
  position: relative;
  background-color: #585858;
  font-family: Arial;
}

#topbar{
  width: window.innerWidth;
  height: 45px;
  background-color: #1E1E1E;
  margin-bottom: 5px;
  opacity: .65;
}

#board{

}


.board{
  border: 3px solid black;
  float:left;
}

.tokenBoard{
  margin-left: 5px;
  background-color: #FFEBD6;
  border: 3px solid black;
  float:left;
}

.startBoard{
  margin-left: 5px;
  background-color: #1E1E1E;
  opacity: .5;
/*  border: 3px solid black;*/
  float:left;
}

.timerBox .stepsBox{
  fill: black;
}

.target {
  font-size: 40px;
}

.endtarget {
  stroke: white;
  stroke-width: 3px;
  stroke-opacity: 0.5;

}

.blocks{
  fill: #F0E4D8;
  stroke: white;
  stroke-width: 1px;
}

.black{
  fill: #303030;
}

.lline{
  fill: black;
}

._line{
  fill: black;
}