body{
  margin: 0;
  position: relative;
}

.board{
  border: 3px solid black;
}

.blocks{
  fill: #F0E4D8;
  stroke: white;
  stroke-width: 1px;
}

.black{
  fill: #303030;
}

.lline{
  fill: black;
}

._line{
  fill: black;
}